// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
// Required
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// Default variable overrides
$font-family-sans-serif: // Cross-platform generic font family (default user interface font)
    "Poppins",
    system-ui,
    // Safari for macOS and iOS (San Francisco)
    -apple-system,
    // Windows
    "Segoe UI",
    // Android
    Roboto,
    // Basic web fallback
    "Helvetica Neue",
    Arial,
    // Linux
    "Noto Sans",
    "Liberation Sans",
    // Sans serif fallback
    sans-serif,
    // Emoji fonts
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";

// 3. Include remainder of required Bootstrap stylesheets
// Required
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";

// 4. Include any optional Bootstrap components as you like
// Optional
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";

@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
// 5. Add additional custom code here

//@import "../node_modules/bootstrap/scss/bootstrap";

@import "../node_modules/bootstrap/scss/helpers";

// Utilities
@import "../node_modules/bootstrap/scss/utilities/api";

.text--hightlight {
    color: #0367df;
}

.decoration--blue{
    width: auto;
    height: 33vh;
    background-color: #0067de;
    position: absolute;
    right: 5%;
    border-radius: 30px;
}